logs
project/project
project/target
target
tmp
.cache
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin
patterns/lib_managed
patterns/.classpath
patterns/.project
patterns/.settings
cluster-patterns/lib_managed